@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  background: #ffffff;
}

.heading{
  font-weight: 500;
}
.cardHeading{
  font-weight: 700;
  font-size: 140px;
  color: #191408;
  
}

.cardmobileHeading{
    font-weight: 700;
    font-size: 50px;
    text-align: left;
    line-height: 3.0rem;

}
.ribbon{
  border-left: 70px solid transparent;
  border-right: 70px solid transparent;
  border-top: 100px solid #d69688;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}


/* marquee content */
@keyframes marquee-left {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes marquee-right {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

.marquee {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.marquee-left,
.marquee-right {
  display: inline-block;
  padding-left: 100%;
  /* Initial offset */
}

.marquee-left {
  animation: marquee-left 50s linear infinite;
}

.marquee-right {
  animation: marquee-right 50s linear infinite;
}

.topic {
  display: inline-block;
  padding: 0.2rem 4rem;
  margin: 0.5rem;
  border-radius: 50px;
  font-size: 50px;
  color: white;
  font-weight: 400;
  min-width: 10rem;
  text-align: center;
}

/* Responsive styles */
@media (max-width: 768px) {
  .topic {
    font-size: 2rem;
    font-weight: 500;
    padding: 0.2rem 1rem;

  }

  .marquee-left,
  .marquee-right {
    animation-duration: 100s;
  }
}

.bg-anxiety {
  background-color: #333;
}

.bg-ptsd {
  background-color: #fde68a;
  color: white;

}

.bg-bipolar {
  background-color: #22c55e;
  color: white;

}

.bg-depression {
  background-color: #60a5fa;
  color: white;
}

.bg-abuse {
  background-color: #ec4899;
  color: white;
}

.bg-grief {
  background-color: #22c55e;
  color: white;
}

.bg-anorexia {
  background-color: #bfdbfe;
  color: white;
}

.bg-bulimia {
  background-color: #f9a8d4;
  color: white;
}

.bg-trauma {
  background-color: #333;
  color: white;
}

.bg-insomnia {
  background-color: #f7d241;
  color: white;
}


/* for students */
.orange {
  background-image: url(../public/orange.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}



@keyframes slide {
  0% { transform: translateY(0); }
  12.5% { transform: translateY(0); }
  25% { transform: translateY(-100%); }
  37.5% { transform: translateY(-100%); }
  50% { transform: translateY(-200%); }
  62.5% { transform: translateY(-200%); }
  75% { transform: translateY(-300%); }
  87.5% { transform: translateY(-300%); }
  100% { transform: translateY(-400%); }
}

.slider {
  height: 500px; /* Adjust based on the height of 5 images */
  overflow: hidden;
  position: relative;
}

.slider-inner {
  display: flex;
  flex-direction: column;
  position: absolute;
  animation: slide 10s infinite linear;
}

.slider-inner div {
  height: 100px; /* Adjust based on individual image height */
  margin-bottom: 20px; /* Adjust based on desired spacing between images */
}


